In [1]:
import pandas as pd
import numpy as np
import os
import re
import random
import pandas as pd

In [2]:
df = pd.read_csv("F:/DATA SCIENCE/AMAZON/amazon_reviews_us_Watches_v1_00_500.tsv",sep='\t')
df.head()

,marketplace,customer_id,review_id,product_id,product_parent,product_title,product_category,star_rating,helpful_votes,total_votes,vine,verified_purchase,review_headline,review_body,review_date
0,US,3653882,R3O9SGZBVQBV76,B00FALQ1ZC,937001370,"Invicta Women's 15150 ""Angel"" 18k Yellow Gold ...",Watches,5,0,0,N,Y,Five Stars,Absolutely love this watch! Get compliments al...,2015-08-31
1,US,14661224,RKH8BNC3L5DLF,B00D3RGO20,484010722,Kenneth Cole New York Women's KC4944 Automatic...,Watches,5,0,0,N,Y,I love thiswatch it keeps time wonderfully,I love this watch it keeps time wonderfully.,2015-08-31
2,US,27324930,R2HLE8WKZSU3NL,B00DKYC7TK,361166390,Ritche 22mm Black Stainless Steel Bracelet Wat...,Watches,2,1,1,N,Y,Two Stars,Scratches,2015-08-31
3,US,7211452,R31U3UH5AZ42LL,B000EQS1JW,958035625,Citizen Men's BM8180-03E Eco-Drive Stainless S...,Watches,5,0,0,N,Y,Five Stars,"It works well on me. However, I found cheaper ...",2015-08-31
4,US,12733322,R2SV659OUJ945Y,B00A6GFD7S,765328221,Orient ER27009B Men's Symphony Automatic Stain...,Watches,4,0,0,N,Y,"Beautiful face, but cheap sounding links",Beautiful watch face. The band looks nice all...,2015-08-31

In [3]:
df.columns

Index(['marketplace', 'customer_id', 'review_id', 'product_id',
       'product_parent', 'product_title', 'product_category', 'star_rating',
       'helpful_votes', 'total_votes', 'vine', 'verified_purchase',
       'review_headline', 'review_body', 'review_date'],
      dtype='object')

In [4]:
df["words"]="default value"
df["sentences"]="default value"


for i in range(df.shape[0]):
    df.at[i,"words"]= list("")
    df.at[i,"sentences"] = list("")

In [5]:
from nltk.tokenize import sent_tokenize

In [6]:
for i in range(df.shape[0]):
    l1= sent_tokenize(str(df.loc[i,"review_body"]))
    df.at[i,"sentences"]=l1

In [7]:
df["sentences"].head()

0    [Absolutely love this watch!, Get compliments ...
1       [I love this watch it keeps time wonderfully.]
2                                          [Scratches]
3    [It works well on me., However, I found cheape...
4    [Beautiful watch face., The band looks nice al...
Name: sentences, dtype: object

In [8]:
from pywsd.utils import lemmatize_sentence

Warming up PyWSD (takes ~10 secs)... took 13.202662944793701 secs.

In [9]:
for k in range(df.shape[0]):
    df.at[k,"words"]=list("")
    for j in range(len(df.loc[k,"sentences"])):
        df.at[k,"words"].extend(lemmatize_sentence(df.loc[k,"sentences"][j]))

In [10]:
df["words"].head()

0    [absolutely, love, this, watch, !, get, compli...
1    [i, love, this, watch, it, keep, time, wonderf...
2                                            [scratch]
3    [it, work, well, on, me, ., however, ,, i, fin...
4    [beautiful, watch, face, ., the, band, look, n...
Name: words, dtype: object

In [11]:
df["words_sentences"] = "default"

In [12]:
import functools
for k in range(df.shape[0]):
    df.loc[k,"words_sentences"]=functools.reduce(lambda a,b:( str(a)+str(" ")+str(b)),df.loc[k,"words"])

In [13]:
df["words_sentences"].head()

0    absolutely love this watch ! get compliment al...
1         i love this watch it keep time wonderfully .
2                                              scratch
3    it work well on me . however , i find cheap pr...
4    beautiful watch face . the band look nice all ...
Name: words_sentences, dtype: object

In [14]:
from sklearn.feature_extraction.text import  CountVectorizer

In [15]:
df.head()

,marketplace,customer_id,review_id,product_id,product_parent,product_title,product_category,star_rating,helpful_votes,total_votes,vine,verified_purchase,review_headline,review_body,review_date,words,sentences,words_sentences
0,US,3653882,R3O9SGZBVQBV76,B00FALQ1ZC,937001370,"Invicta Women's 15150 ""Angel"" 18k Yellow Gold ...",Watches,5,0,0,N,Y,Five Stars,Absolutely love this watch! Get compliments al...,2015-08-31,"[absolutely, love, this, watch, !, get, compli...","[Absolutely love this watch!, Get compliments ...",absolutely love this watch ! get compliment al...
1,US,14661224,RKH8BNC3L5DLF,B00D3RGO20,484010722,Kenneth Cole New York Women's KC4944 Automatic...,Watches,5,0,0,N,Y,I love thiswatch it keeps time wonderfully,I love this watch it keeps time wonderfully.,2015-08-31,"[i, love, this, watch, it, keep, time, wonderf...",[I love this watch it keeps time wonderfully.],i love this watch it keep time wonderfully .
2,US,27324930,R2HLE8WKZSU3NL,B00DKYC7TK,361166390,Ritche 22mm Black Stainless Steel Bracelet Wat...,Watches,2,1,1,N,Y,Two Stars,Scratches,2015-08-31,[scratch],[Scratches],scratch
3,US,7211452,R31U3UH5AZ42LL,B000EQS1JW,958035625,Citizen Men's BM8180-03E Eco-Drive Stainless S...,Watches,5,0,0,N,Y,Five Stars,"It works well on me. However, I found cheaper ...",2015-08-31,"[it, work, well, on, me, ., however, ,, i, fin...","[It works well on me., However, I found cheape...","it work well on me . however , i find cheap pr..."
4,US,12733322,R2SV659OUJ945Y,B00A6GFD7S,765328221,Orient ER27009B Men's Symphony Automatic Stain...,Watches,4,0,0,N,Y,"Beautiful face, but cheap sounding links",Beautiful watch face. The band looks nice all...,2015-08-31,"[beautiful, watch, face, ., the, band, look, n...","[Beautiful watch face., The band looks nice al...",beautiful watch face . the band look nice all ...

In [16]:
df1=df

no_features = 1000
tf_vectorizer = CountVectorizer( max_features=no_features, stop_words='english')
tf = tf_vectorizer.fit_transform(df1.words_sentences)

In [17]:
df_x=pd.DataFrame(tf.A, columns=tf_vectorizer.get_feature_names())

In [18]:
df_y=df["verified_purchase"]

In [19]:
from sklearn.preprocessing import LabelEncoder

In [20]:
le=LabelEncoder()

In [21]:
df_y_1=pd.DataFrame(df_y)

In [22]:
df_y_enc=df_y_1.apply(le.fit_transform)

In [23]:
df_y_enc.columns

Index(['verified_purchase'], dtype='object')

In [24]:
df_y_enc.head(5)

   verified_purchase
0                  1
1                  1
2                  1
3                  1
4                  1

In [25]:
from sklearn.ensemble import GradientBoostingClassifier

In [26]:
GBC=GradientBoostingClassifier(n_estimators=3000)

In [27]:
gb_c=GBC.fit(df_x,df_y_enc)

C:\Users\prana\AppData\Local\conda\conda\envs\tfdeeplearning\lib\site-packages\sklearn\utils\validation.py:547: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [28]:
GBC.score(df_x,df_y_enc)

0.99799599198396793